demoFlappybird/src/META-INF/wsdl/localhost_8080/Server/GameService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.flappybird.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.flappybird.com/" name="GameService">
<wsp:Policy wsu:Id="GameServicePortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://service.flappybird.com/" schemaLocation="http://localhost:8080/Server/GameService?xsd=1"/>
</xsd:schema>
</types>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="editUserResponse">
<part name="parameters" element="tns:editUserResponse"/>
</message>
<message name="findUserByName">
<part name="parameters" element="tns:findUserByName"/>
</message>
<message name="findUserByNameResponse">
<part name="parameters" element="tns:findUserByNameResponse"/>
</message>
<message name="saveScore">
<part name="parameters" element="tns:saveScore"/>
</message>
<message name="saveScoreResponse">
<part name="parameters" element="tns:saveScoreResponse"/>
</message>
<message name="saveRegister">
<part name="parameters" element="tns:saveRegister"/>
</message>
<message name="saveRegisterResponse">
<part name="parameters" element="tns:saveRegisterResponse"/>
</message>
<message name="getScoreHistory">
<part name="parameters" element="tns:getScoreHistory"/>
</message>
<message name="getScoreHistoryResponse">
<part name="parameters" element="tns:getScoreHistoryResponse"/>
</message>
<message name="getTopScoreUser">
<part name="parameters" element="tns:getTopScoreUser"/>
</message>
<message name="getTopScoreUserResponse">
<part name="parameters" element="tns:getTopScoreUserResponse"/>
</message>
<message name="countOfPlay">
<part name="parameters" element="tns:countOfPlay"/>
</message>
<message name="countOfPlayResponse">
<part name="parameters" element="tns:countOfPlayResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<portType name="GameService">
<operation name="addUser">
<input wsam:Action="http://service.flappybird.com/GameService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service.flappybird.com/GameService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.flappybird.com/GameService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.flappybird.com/GameService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://service.flappybird.com/GameService/editUserRequest" message="tns:editUser"/>
<output wsam:Action="http://service.flappybird.com/GameService/editUserResponse" message="tns:editUserResponse"/>
</operation>
<operation name="findUserByName">
<input wsam:Action="http://service.flappybird.com/GameService/findUserByNameRequest" message="tns:findUserByName"/>
<output wsam:Action="http://service.flappybird.com/GameService/findUserByNameResponse" message="tns:findUserByNameResponse"/>
</operation>
<operation name="saveScore">
<input wsam:Action="http://service.flappybird.com/GameService/saveScoreRequest" message="tns:saveScore"/>
<output wsam:Action="http://service.flappybird.com/GameService/saveScoreResponse" message="tns:saveScoreResponse"/>
</operation>
<operation name="saveRegister">
<input wsam:Action="http://service.flappybird.com/GameService/saveRegisterRequest" message="tns:saveRegister"/>
<output wsam:Action="http://service.flappybird.com/GameService/saveRegisterResponse" message="tns:saveRegisterResponse"/>
</operation>
<operation name="getScoreHistory">
<input wsam:Action="http://service.flappybird.com/GameService/getScoreHistoryRequest" message="tns:getScoreHistory"/>
<output wsam:Action="http://service.flappybird.com/GameService/getScoreHistoryResponse" message="tns:getScoreHistoryResponse"/>
</operation>
<operation name="getTopScoreUser">
<input wsam:Action="http://service.flappybird.com/GameService/getTopScoreUserRequest" message="tns:getTopScoreUser"/>
<output wsam:Action="http://service.flappybird.com/GameService/getTopScoreUserResponse" message="tns:getTopScoreUserResponse"/>
</operation>
<operation name="countOfPlay">
<input wsam:Action="http://service.flappybird.com/GameService/countOfPlayRequest" message="tns:countOfPlay"/>
<output wsam:Action="http://service.flappybird.com/GameService/countOfPlayResponse" message="tns:countOfPlayResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://service.flappybird.com/GameService/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://service.flappybird.com/GameService/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
</portType>
<binding name="GameServicePortBinding" type="tns:GameService">
<wsp:PolicyReference URI="#GameServicePortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUserByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getScoreHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopScoreUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countOfPlay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GameService">
<port name="GameServicePort" binding="tns:GameServicePortBinding">
<soap:address location="http://localhost:8080/Server/GameService"/>
</port>
</service>
</definitions>